# Data Cleaning and Preparation

In [1]:
# hum jub be map apply karty han wo series par karty han map ak ak value uth kar lata han

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
# dataframe par applymap use hoga

In [5]:
# replace ak method han first value jis ma huma jo value dalni han dusri wo jis ko chnage karni han

In [6]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [7]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [8]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [9]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
'Pastrami', 'corned beef', 'Bacon',
'pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [10]:
data['food'].map(lambda x:meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [11]:
data['animal'] = lowercase.map(meat_to_animal)
data

NameError: name 'lowercase' is not defined

In [12]:
lowercase = data['food'].str.lower()

In [13]:
lowercase

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [14]:
data.replace([-999,-1000],[np.nan,0])

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [15]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

data.replace({-999:np.nan})

In [16]:
data1 = pd.DataFrame(np.arange(12).reshape((3,4)),
                   index = ['Sameer','new york','dada'],
                   columns=['one','two','three','four'])

In [17]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [18]:
tranform = lambda x:x[:4].upper()

In [19]:
data.index

RangeIndex(start=0, stop=9, step=1)

In [20]:
data.index.map(tranform)

TypeError: 'int' object is not subscriptable

In [21]:
data.index = data.index.map(tranform)

TypeError: 'int' object is not subscriptable

In [22]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [23]:
data.columns

Index(['food', 'ounces'], dtype='object')

In [24]:
transformcolumns = lambda x: x[:2].upper()

In [25]:
data.columns.map(transformcolumns)

Index(['FO', 'OU'], dtype='object')

In [26]:
data.columns = data.columns.map(transformcolumns)

In [27]:
data

            FO    OU
0        bacon   4.0
1  pulled pork   3.0
2        bacon  12.0
3     Pastrami   6.0
4  corned beef   7.5
5        Bacon   8.0
6     pastrami   3.0
7    honey ham   5.0
8     nova lox   6.0

In [28]:
data.rename(index=str.title,columns=str.upper,inplace=True)

TypeError: descriptor 'title' requires a 'str' object but received a 'int'

In [29]:
data

            FO    OU
0        bacon   4.0
1  pulled pork   3.0
2        bacon  12.0
3     Pastrami   6.0
4  corned beef   7.5
5        Bacon   8.0
6     pastrami   3.0
7    honey ham   5.0
8     nova lox   6.0

In [30]:
data.rename(index={'Same':'dublin'},columns = {'FO':"peekaboo"})

      peekaboo    OU
0        bacon   4.0
1  pulled pork   3.0
2        bacon  12.0
3     Pastrami   6.0
4  corned beef   7.5
5        Bacon   8.0
6     pastrami   3.0
7    honey ham   5.0
8     nova lox   6.0

In [31]:
data.rename(index={'Same':'INDIANA'},inplace=True)

In [32]:
data['Fo'] = 45

In [33]:
data['Fo'] = data[:2]

In [34]:
data1

          one  two  three  four
Sameer      0    1      2     3
new york    4    5      6     7
dada        8    9     10    11

In [35]:
data1.loc['new york'][3] = 12
data1

          one  two  three  four
Sameer      0    1      2     3
new york    4    5      6    12
dada        8    9     10    11

# Discretication and Binning

In [36]:
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,15]

In [37]:
bins = [8,5,6,4,2,45]

In [38]:
cats = pd.cut(ages,bins)

ValueError: bins must increase monotonically.

In [39]:
pd.cut(ages,[18,26,36,61,100],right=False)

[NaN, NaN, NaN, NaN, NaN, ..., NaN, NaN, NaN, NaN, NaN]
Length: 14
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [40]:
data = np.random.rand(20)

In [41]:
data

array([0.10059784, 0.96620892, 0.14468286, 0.47344943, 0.37405199,
       0.38319517, 0.88796845, 0.00568215, 0.95349425, 0.02542859,
       0.59880354, 0.58183507, 0.99755715, 0.30578983, 0.93332771,
       0.40851833, 0.60386176, 0.91512593, 0.22666311, 0.95913074])

In [42]:
cats = pd.cut(data,4,precision=4)

In [43]:
cats

[(0.00469, 0.2537], (0.7496, 0.9976], (0.00469, 0.2537], (0.2537, 0.5016], (0.2537, 0.5016], ..., (0.2537, 0.5016], (0.5016, 0.7496], (0.7496, 0.9976], (0.00469, 0.2537], (0.7496, 0.9976]]
Length: 20
Categories (4, interval[float64]): [(0.00469, 0.2537] < (0.2537, 0.5016] < (0.5016, 0.7496] < (0.7496, 0.9976]]

In [44]:
pd.value_counts(cats)

(0.7496, 0.9976]     7
(0.2537, 0.5016]     5
(0.00469, 0.2537]    5
(0.5016, 0.7496]     3
dtype: int64

# Detecting and filtering Outliers

In [45]:
import pandas as pd

In [46]:
import numpy as np

In [47]:
data = pd.DataFrame(np.random.randn(1000,4))

In [48]:
data

            0         1         2         3
0    0.666286 -0.594902  0.074067 -1.262752
1    0.187921 -1.422486  0.531227  0.640763
2   -1.194343  0.325201  0.953302 -0.285423
3    0.522606  1.930290  0.454767  0.087541
4    0.605903  1.362208 -1.722754  0.494882
5    1.355201 -0.395140 -0.845856  0.787535
6   -0.730737  1.006380 -0.706774  0.775373
7    0.465156  0.316821  1.030972  0.846101
8   -1.203022  0.355617 -1.200496 -0.805399
9    1.315267 -0.291530 -0.484218  1.187622
10  -0.818186  0.547706 -0.757326  1.085492
11   0.388386  0.412977 -1.254710  1.065964
12   0.418624  1.063913 -0.186278  1.357061
13  -1.345957 -0.171590 -0.232345 -1.006407
14   0.631372  1.405807  0.544893 -0.743764
15  -1.458397  0.106850  0.774425 -1.262089
16   2.125046  0.506286  0.490224  0.236698
17   0.774973 -1.849605  2.040165 -0.209111
18   0.688840  0.592444  0.415719 -0.741938
19  -0.510612 -1.578564  0.152150  0.618709
20  -0.169327 -1.445448  2.191304  0.519737
21   0.701923  0.767260  0.274789  0.287491
22  -0.028592 -0.187708 -0.070880  0.174868
23  -0.849048 -2.708115  2.226865  0.599550
24  -0.055022  0.187683 -1.042625 -1.887758
25  -0.739774 -0.274429 -0.043876 -0.607904
26  -0.433963  0.249470  1.360670  0.656749
27   0.464110 -0.306088 -0.611629  1.184144
28   1.145169 -0.774769  0.794246  2.257927
29   0.607276 -0.096654 -0.573792 -1.118162
..        ...       ...       ...       ...
970  0.055407  0.688473  0.544196  0.991312
971  0.358749  1.707562  0.509567  1.307541
972  1.314073  0.506650 -1.749320 -1.429608
973  0.536643 -1.030470  1.163224  0.010416
974  0.054090 -0.982060  0.402821  0.097238
975  0.571331 -0.022731 -2.210303  0.567182
976 -1.001657 -0.482003 -0.074015 -0.333734
977 -0.830666 -0.423521 -0.892625  0.296672
978 -0.765075 -0.075632 -0.332149 -0.879082
979 -0.866602  1.200497  1.304544 -2.065720
980 -0.900583  0.320281  1.156715  0.525455
981 -0.619245  0.252710  0.393135  0.866793
982 -0.890583  0.242551  0.773231  0.347629
983  0.330536 -1.043106  0.872023 -1.155673
984  0.618689 -1.443502 -0.314967 -1.138998
985 -0.690010 -0.373144  0.369347 -1.347286
986  1.850794  1.071432 -0.074968 -2.252355
987  0.688536  0.378928 -0.445969 -1.272192
988  1.521134 -1.904693 -0.639134 -0.413935
989  0.229259 -0.846849 -0.263363  0.768019
990  1.569245  0.599577  0.467827 -0.735656
991  0.224254  2.271780 -0.348691  1.671138
992 -0.033537  0.228593 -0.346212  3.065664
993 -0.244471 -0.333874  0.138307 -0.794951
994  0.685815 -0.493139  0.529497 -0.558868
995 -1.729274 -1.081756 -0.197211 -0.395000
996 -0.276409 -1.949308  0.251178  1.980323
997  0.851616  0.717124 -1.105424  0.190929
998 -1.058318 -0.891540  1.142067  1.074929
999  0.358392  1.067068 -1.179312  0.156813

[1000 rows x 4 columns]

In [51]:
string_data = pd.Series(['Sameer','Khan','Bhai','Dost',np.nan])

In [52]:
string_data

0    Sameer
1      Khan
2      Bhai
3      Dost
4       NaN
dtype: object

In [55]:
string_data.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [56]:
string_data[0] = None
print(string_data)

0    None
1    Khan
2    Bhai
3    Dost
4     NaN
dtype: object

# Filtering Out Missing Data

In [61]:
from numpy import nan as Nan

In [62]:
data = pd.Series([1,Nan,10.5,Nan,7])

In [63]:
data

0     1.0
1     NaN
2    10.5
3     NaN
4     7.0
dtype: float64

In [64]:
data.dropna()

0     1.0
2    10.5
4     7.0
dtype: float64

In [67]:
data = pd.DataFrame([[1,6,5],
                    [1,Nan,Nan],
                    [Nan,Nan,5]])

In [68]:
data

     0    1    2
0  1.0  6.0  5.0
1  1.0  NaN  NaN
2  NaN  NaN  5.0

In [69]:
cleared = data.dropna()

In [70]:
cleared

     0    1    2
0  1.0  6.0  5.0

In [71]:
cleared = data.dropna(how='all')

In [72]:
cleared

     0    1    2
0  1.0  6.0  5.0
1  1.0  NaN  NaN
2  NaN  NaN  5.0

In [73]:
data[4] = Nan

In [74]:
data

     0    1    2   4
0  1.0  6.0  5.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  5.0 NaN

In [76]:
data.dropna(axis=1,how='all')

     0    1    2
0  1.0  6.0  5.0
1  1.0  NaN  NaN
2  NaN  NaN  5.0

In [77]:
df = pd.DataFrame(np.random.randn(7,3))

In [78]:
df

          0         1         2
0 -0.089944  0.259573 -0.891812
1  0.379433  2.712279 -1.350125
2  1.175544  0.825341 -0.679608
3 -0.407064 -0.492799  0.067588
4 -2.281808  0.770293  0.980857
5  0.111125  0.079657  1.064894
6 -1.262354 -0.381978 -0.042937

In [80]:
df.iloc[:4,1] = Nan
df.iloc[:2,2] = Nan

In [81]:
df

          0         1         2
0 -0.089944       NaN       NaN
1  0.379433       NaN       NaN
2  1.175544       NaN -0.679608
3 -0.407064       NaN  0.067588
4 -2.281808  0.770293  0.980857
5  0.111125  0.079657  1.064894
6 -1.262354 -0.381978 -0.042937

In [82]:
df.dropna()

          0         1         2
4 -2.281808  0.770293  0.980857
5  0.111125  0.079657  1.064894
6 -1.262354 -0.381978 -0.042937

# Filling In Missing Data

In [83]:
import pandas as pd

In [85]:
df.fillna(0) # ya jaha jaha nan value the is nai replace kar deya

          0         1         2
0 -0.089944  0.000000  0.000000
1  0.379433  0.000000  0.000000
2  1.175544  0.000000 -0.679608
3 -0.407064  0.000000  0.067588
4 -2.281808  0.770293  0.980857
5  0.111125  0.079657  1.064894
6 -1.262354 -0.381978 -0.042937

In [87]:
df.fillna({1:0.5,2:2.0}) # is nai 1 column par 0.5 par dal deya or 2 par 2.0 daal deya

          0         1         2
0 -0.089944  0.500000  2.000000
1  0.379433  0.500000  2.000000
2  1.175544  0.500000 -0.679608
3 -0.407064  0.500000  0.067588
4 -2.281808  0.770293  0.980857
5  0.111125  0.079657  1.064894
6 -1.262354 -0.381978 -0.042937

In [88]:
df = pd.DataFrame(np.random.randn(6,3))
df.iloc[2:,1] = Nan
df.iloc[3:5,2] = Nan

In [89]:
df

          0         1         2
0 -0.301009  0.452211 -1.155223
1 -0.514181 -0.517894 -1.427792
2 -0.479473       NaN -0.461951
3  0.112839       NaN       NaN
4  2.214223       NaN       NaN
5 -0.405657       NaN -0.400881

In [90]:
df.fillna(method='ffill')

          0         1         2
0 -0.301009  0.452211 -1.155223
1 -0.514181 -0.517894 -1.427792
2 -0.479473 -0.517894 -0.461951
3  0.112839 -0.517894 -0.461951
4  2.214223 -0.517894 -0.461951
5 -0.405657 -0.517894 -0.400881

In [91]:
df.fillna(method='bfill')

          0         1         2
0 -0.301009  0.452211 -1.155223
1 -0.514181 -0.517894 -1.427792
2 -0.479473       NaN -0.461951
3  0.112839       NaN -0.400881
4  2.214223       NaN -0.400881
5 -0.405657       NaN -0.400881